{% extends 'base_content.html' %} 
{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col ">
      <h3>Welcome to your dashboard, {{ user.first_name }}</h3>
      <h5 class="text-muted">Logged in as {{ user.username }}</h5>
    </div>
    <div class="col-md-auto">
      <a href='{% url 'create_task' %}' class="btn btn-dark">
        + Create Task
      </a>
    </div>
  </div>
  
  <div class="container mt-4">
    <div class="row">
      {% for task in tasks %}
          <span class="col-3 border rounded p-4">
              <strong>{{ task.task_heading }}</strong><br>
              Description: {{ task.task_description }}<br>
              User Assigned: {{ task.assigned_users }} <br>
              Owner: {{ task.task_owner.username }}<br>
              Created: {{ task.creation_date }}<br>
              Deadline: {{ task.deadline_date }}<br>
              Complete: {{ task.task_complete }}
          </span>
          <span class="col-1"></span>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}