{% extends 'base_content.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h3>Welcome to your dashboard, {{ user.first_name }}</h3>
      <h5 class="text-muted">Logged in as {{ user.username }}</h5>
    </div>
  </div>
  
  <h2>Task Dashboard</h2>
  <a href='{% url 'create_task' %}' class="btn btn-lg btn-secondary">
    Create Task
  </a>
  <ul class="list-group">
      {% for task in tasks %}
          <li style="list-style-type: none;">
            <a href={% url 'show_task' task.id %} class="list-group-item list-group-item-action">
              <strong>{{ task.task_heading }}</strong><br>
              User(s) Assigned: {{ task.assigned_users }} <br>
              Deadline: {{ task.deadline_date }}<br>
              Complete: {{ task.task_complete }}
            </a></li>
      {% endfor %}
  </ul>
</div>
{% endblock %}