{% extends 'base_content.html' %} {% block content %}
<div class="container mt-5 overflow-hidden">
    <style>
        .scrollable-content::-webkit-scrollbar {
            display: none;
        }
    </style>
  <div class="row">
    <div class="col-sm">
      <h3>Welcome to your dashboard, {{ user.first_name }}</h3>
      <h5 class="text-muted mb-4">Logged in as {{ user.username }}</h5>
    </div>
    <div class="col-sm-auto">
      <a href="{% url 'create_task' %}">
        <button type="button" class="btn btn-success">+ Create Task</button>
      </a>
    </div>
  </div>
  
  <div class="row justify-content-end text-center px-0 mx-0">
    <form class="col-auto px-0 text-center" method="post" action="{% url 'dashboard' %}">
        {% csrf_token %}
        <button class="disabled btn btn-sm" style="width: 2rem;"><i class="bi bi-eye-fill"></i></button>
        
        <button name="filter_tasks" value="toggle_low_priority" type="submit" 
        {% if display_tasks_settings.show_low == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}
        style="width: 2rem;">!</button>
        <button name="filter_tasks" value="toggle_medium_priority" type="submit" 
        {% if display_tasks_settings.show_medium == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}
        style="width: 2rem;">!!</button>
        <button name="filter_tasks" value="toggle_high_priority" type="submit" 
        {% if display_tasks_settings.show_high == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}
        style="width: 2rem;">!!!</button>
        <button name="filter_tasks" value="toggle_not_started" type="submit" 
        {% if display_tasks_settings.show_not_started == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}>Not Started</button>
        <button name="filter_tasks" value="toggle_in_progress" type="submit" 
        {% if display_tasks_settings.show_in_progress == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}>In Progress</button>
        <button name="filter_tasks" value="toggle_completed" type="submit" 
        {% if display_tasks_settings.show_completed == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}>Completed</button>
        
        <button type="submit" class="disabled btn btn-sm" style="width: 2rem;"><i class="bi bi-sort-down-alt"></i></button>
        <button name="filter_tasks" value="toggle_date" type="submit" 
        {% if display_tasks_settings.show_oldest_first == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}>Date (Oldest first)</button>
        <button name="filter_tasks" value="toggle_priority" type="submit" 
        {% if display_tasks_settings.show_low_priority_first == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}>Priority (High first)</button>
        <button name="filter_tasks" value="toggle_status" type="submit" 
        {% if display_tasks_settings.show_not_started_first == False %}
        class="btn btn-sm btn-outline-dark"
        {% else %}
        class="btn btn-sm btn-dark"
        {% endif %}>Status (Not Started first)</button>
    </form>
  </div>
</div>
<div class="position-relative flex-nowrap row overflow-auto mt-4 m-0 gx-5 px-5 scrollable-content" >
    {% for team in all_teams %}
          {% if user == team.team_owner or user in team.users_in_team.all %}
          <div class="col-4 ">
            <div class="row rounded px-3 text-light py-2" style="background-color: #141618;"><h4 class="mt-2">&nbsp;<strong>{{ team.team_name }}</strong></h4></div>
            <div class="row justify-content-center py-4">
                {% for task in tasks %}
                {% if task.team_assigned == team %}
    <div class="row mb-3 mx-0 justify-content-center">
        <div class="row border rounded px-0 ">
            <div class="rounded-top px-3 py-2 bg-dark">
                <div class="row">
                    <div class="col align-self-center">
                        
                        <h6 class="mb-1">
                          <a
                            href="{% url 'show_task' task.id %}"
                            class="text-light text-break"
                            style="text-decoration: none"
                            ><strong>{{ task.task_heading }}</strong></a
                          >
                        </h6>
                        <small class="text-light"><strong>Owner:&nbsp;</strong>{{ task.task_owner.username }}</small>
                      </div>
                      <div class="col-auto text-end">
                        <div class="row">
                          <form
                          class=""
                          method="post"
                          action="{% url 'update_task_status' task.id %}"
                        >
                          {% csrf_token %}
                          {% if task.status != 'In Progress' and task.status != 'Completed' %}
                          <button
                          {% if task.status == 'Not Started' %}
                            class="border border-danger rounded bg-danger"
                          {% else %}
                            class="border border-danger rounded bg-dark"
                          {% endif %}
                            type="submit"
                            name="new_status"
                            value="Not Started"
                          >
                            <option style="display: none" value="Not Started"></option>
                            <i 
                            {% if task.status == 'Not Started' %}
                            class="bi bi-hourglass text-light"
                            {% else %}
                            class="bi bi-hourglass text-danger"
                            {% endif %}
                            >
                          </i>
                          </button>
                          {% endif %}
                          <button
                          {% if task.status == 'In Progress' %}
                          class="border border-warning rounded bg-warning"
                          {% else %}
                          class="border border-warning rounded bg-dark"
                          {% endif %}
                            type="submit"
                            name="new_status"
                            value="In Progress"
                          >
                            <option style="display: none" value="In Progress"></option>
                            <i 
                            {% if task.status == 'In Progress' %}
                            class="bi bi-hourglass-split text-light"
                            {% else %}
                            class="bi bi-hourglass-split text-warning"
                            {% endif %}
                            ></i>
                          </button>
                          <button
                          {% if task.status == 'Completed' %}
                          class="border border-success rounded bg-success"
                          {% else %}
                          class="border border-success rounded bg-dark"
                          {% endif %}
                            type="submit"
                            name="new_status"
                            value="Completed"
                          >
                            <option style="display: none" value="Complete"></option>
                            <i 
                            {% if task.status == 'Completed' %}
                            class="bi bi-hourglass-bottom text-light"
                            {% else %}
                            class="bi bi-hourglass-bottom text-success"
                            {% endif %}
                            ></i>
                          </button>
                        </form>
                        </div>
                        <div class="text-end mt-1">
                          {% if task.priority == 'High' %}
                          <span class="badge badge-pill badge-danger bg-danger">!!! High Priority</span>
                          {% elif task.priority == 'Medium' %}
                          <span class="badge badge-pill badge-warning bg-warning">!! Medium Priority</span>
                          {% elif task.priority == 'Low' %}
                          <span class="badge badge-pill badge-success bg-success">! Low Priority</span>
                          {% endif %}
                          {% if task.status == 'Not Started' %}
                          <span class="badge badge-pill badge-danger bg-danger">Not Started</span>
                          {% elif task.status == 'In Progress' %}
                          <span class="badge badge-pill badge-warning bg-warning">In Progress</span>
                          {% elif task.status == 'Completed' %}
                          <span class="badge badge-pill badge-success bg-success">Completed</span>
                          {% endif %}
                      </div>
                      </div>
                    </div>
                </div>
            <div class="row">
              <p class="mt-2">{{ task.task_description }}</p>
              <small class="text-muted">
                <strong>Assigned To:</strong> {{ task.assigned_tasks.all|join:', ' }} |
                <strong>Created:</strong> {{ task.creation_date }} |
                <strong>Deadline:</strong> {{ task.deadline_date }} |
                <strong>Complete:</strong> {{ task.task_complete }}
              </small>
      
              {% if task.status == 'In Progress' %}
              <small class="text-muted">Status: In Progress</small>
                {% if task.running_time %}
                <small class="text-muted">Running Time: {{ task.running_time }}</small>
                {% endif %} 
              {% elif task.status == 'Completed' %}
                <small class="text-muted">Status: Completed</small>
                {% if task.completion_time %}
                <small class="text-muted"
                    >Completion Time: {{ task.completion_time }}</small
                >
                {% endif %} 
              {% elif task.status == 'Not Started' %}
              <small class="text-muted">Status: Not Started</small>
              {% endif %}
            </div>
          </div>
    </div>
    {% endif %}
    {% endfor %}
            </div>
          </div>
          {% endif %}
    {% endfor %}
    
</div>
{% endblock %}
