{% extends 'base_content.html' %} {% block content %} {% load yellow %}
<div class="container">
  <style>
    .yellow {
      background-color: yellow;
    }
  </style>
  <a class="mt-4 text-dark" href="{% url 'dashboard' %}">Back to Dashboard</a>
  <div class="row">
    <div class="col">
      <div class="row mt-4">
        <h3 class="mb-4">Search results:</h3>
        {% if everythingsearched %} {% for team in teamsfound %}
        <li class="list-group-item">
          <a
            class="text-dark text-decoration-none"
            href="{% url 'show_team' team.id %}"
            ><span class="text-darktext-decoration-underline"
              >{{ team.team_name|yellow:everythingsearched }}&nbsp;</span
            ><span class="text-muted"
              >{{ team.unique_identifier|yellow:everythingsearched}}&nbsp;</span
            ><span class="text-muted"
              >created
              by&nbsp;{{team.team_owner|yellow:everythingsearched}}</span
            ></a
          >
        </li>
        {% endfor %} {% for user in usersfound %}
        <li class="list-group-item">
          <a class="text-dark text-decoration-none"
            ><span
              >{{ user.first_name|yellow:everythingsearched }}&nbsp;
              {{user.last_name|yellow:everythingsearched }}</span
            >&nbsp;<span class="text-muted"
              >{{ user.username|yellow:everythingsearched }}</span
            ></a
          >
        </li>
        {% endfor %} {% else %}
        <li class="list-group-item">
          <span class="text-muted">No matches found.</span>
        </li>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
