{% extends 'base_content.html' %} {% block content %}
<div class="container">
  <a class="mt-4 text-dark" href="{% url 'team_management' %}"
    >Back to Team Management</a
  >
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col mt-4">
          <h3>
            <span class="text-muted">#</span>{{ team.team_name }}
          </h3>
          <cite class=>"{{team.description}}"</cite>
        </div>
        <div class="col-md-auto"></div>
        <div class="col-sm-auto mt-4">
          {% if not user in team.users_in_team.all %}
          <div class="row"><a href="{% url 'create_team' %}"
            ><button type="button" class="btn btn-outline-dark w-100 mb-2">
              Request to Join
            </button></a
          ></div>
          {% endif %}
          {% if user in team.users_in_team.all and user != team.team_owner %}
          <div class="row"><a href="{% url 'create_team' %}"
            ><button type="button" class="btn btn-outline-danger w-100 mb-2">
              Leave
            </button></a
          ></div>
          {% endif %}
          {% if user in team.users_in_team.all and user == team.team_owner %}
          <div class="row"><a href="{% url 'create_team' %}"
            ><button type="button" class="btn btn-danger w-100">
              Delete
            </button></a
          ></div>
          {% endif %}
        </div>
      </div>
      <div class="row mt-4">
        <h3>Team members:</h3>
        
        <ul class="list-group list-group-flush">
          {% for user in team.users_in_team.all %}
          <li class="list-group-item">
              <span class="text-muted">{{ user.username }}</span
              >{{" "}}
              {% if request.user == user %}
              <span class="text-muted">(you)</span>
              {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% if user in team.users_in_team.all %}
      <div class="row mt-4">
        <h3>Invite User:</h3>
        <div class="row-cols-auto mt-4">
          <div class="col">
            <form method="POST" action="{% url 'lookup-team' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col mr-4">
                  <input
                    type="text"
                    class="form-control"
                    id="input_team_name"
                    placeholder="Search @username"
                    name="teamsearched"
                  />
                </div>
                
                <div class="col-sm-auto mr-4">
                  <button type="submit" class="btn btn-outline-dark mb-2">
                    Invite User
                  </button>
                </div>
                
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
