{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <a class="mt-4 text-dark" href="{% url 'dashboard' %}">Back to Dashboard</a>
  <div class="row-cols-auto">
    <div class="row mt-4">
      <div class="col">
        <form method="POST" action="{% url 'lookup-team' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col mr-4">
              <input
                type="text"
                class="form-control"
                id="input_team_name"
                placeholder="Search #team"
                name="teamsearched"
              />
            </div>
            <div class="col-sm-auto mr-4">
              <button type="submit" class="btn btn-outline-dark mb-2">
                Search Team
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-auto">
        <a href="{% url 'create_team' %}">
          <button type="button" class="btn btn-success">
            + Create Team
          </button>
        </a>
      </div>
    </div>
    <div class="row mt-4">
      <h3>Your Teams</h3>
      <ul class="list-group list-group-flush">
        {% for team in myteams %}
          {% if user == team.team_owner or user in team.users_in_team.all %}
            <li class="list-group-item">
              <a class="text-dark text-decoration-none" href="{% url 'show_team' team.id %}">
                <span class="text-muted">#</span>
                <span class="text-dark text-decoration-underline">{{ team.team_name }}</span>
                {{ " " }}
                <span class="text-muted">Owned by {{ team.team_owner }}</span>
              </a>
            </li>
          {% elif user not in team.users_in_team.all %}
            {% for member in team.users_in_team.all %}
              {% if user == member %}
                <li class="list-group-item">
                  <a class="text-dark text-decoration-none" href="{% url 'show_team' team.id %}">
                    <span class="text-muted">#</span>
                    <span class="text-dark text-decoration-underline">{{ team.team_name }}</span>
                    {{ " " }}
                    <span class="text-muted">created by {{ team.team_owner }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
